/* base */
	.maestro-videos-list { padding: 20px; }

	.maestro-videos-list .maestro-videos-link {
		/*height: 100px;*/
		width: 100%;
		background-color: red;
	}

	.maestro-videos-list .maestro-videos-label {
		display: inline-block;
		padding: 10px 40px 10px 40px;
		color: #015291;
		font-weight: 600;
	}

	.maestro-videos-list button {
		display: block;
		text-transform: none;
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 10px;
	}

	iframe {
		border: none;
		box-shadow: 0px 3px 3px 3px #E5EAF0;
	}

	.maestro-videos-list > .row { 
		margin-bottom: 30px; 
		padding: 10px;
	}

	.maestro-videos-list > .row > .columns {
		background-color: #fff;
		padding: 20px;

		box-shadow: 0px 3px 3px 3px #E5EAF0;
	}