
/* base */
	.maestro-sidenav-1::-webkit-scrollbar { width: .5em; }
	.maestro-sidenav-1::-webkit-scrollbar-thumb { background-color: darkgrey; outline: 1px solid slategrey; }

	.maestro-sidenav-1 {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		background-color: #002A5A;
		overflow-x: hidden;
		transition: 0.5s;
		box-shadow: 1px 1px 2px #CDD2D6;
	}

	.maestro-sidenav-1 > .maestro-sidenav1-header, .maestro-sidenav1-profile, .maestro-sidenav1-menu {
		width: 100%;
		display: block;
	}

	.maestro-sidenav-1 > .maestro-sidenav1-header, .maestro-sidenav1-profile { border-bottom: 1px solid #DFE0E2; }

/* header */
	.maestro-sidenav-1 > .maestro-sidenav1-header {
		background-color: #fff;
		padding-top: 15px;
		padding-bottom: 18px;
	}

	.maestro-sidenav-1 .maestro-sidenav1-img {
		display: block;
		margin: 0px auto;
	}

/* profile */
	.maestro-sidenav-1 > .maestro-sidenav1-profile {
		background-color: #EFF4F8;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.maestro-sidenav-1 > .maestro-sidenav1-profile img {
		display: block;
		border: 3px solid #fff;
		border-radius: 50%;
		margin: 0 auto;
	}

	.maestro-sidenav-1 > .maestro-sidenav1-profile > i, p {
		display: block;
		margin: 0px;
		text-align: center;
		line-height: 1;
		/*padding-left: 50px;*/
		/*padding-right: 50px;*/
		color: #00588A;
	}

	.maestro-sidenav-1 > .maestro-sidenav1-profile > p { 
		text-transform: uppercase; 
		font-size: 1.7rem;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 5px;
	}

/* menu */
	.maestro-sidenav1-menu span, i {
		color: #fff;
		margin-right: 10px;
	}

	.maestro-sidenav1-menu > .maestro-sidenav1-menu1, .maestro-sidenav1-menu2 {
		padding: 10px 20px;
		cursor: pointer;
	}

	.maestro-sidenav1-menu1:hover, 
	.maestro-sidenav1-menu2:hover,
	.maestro-sidenav1-menu1.active,
	.maestro-sidenav1-menu2.active {
		background-color: #015291;
		border-left: 5px solid #00AF4F;
	}

	.maestro-sidenav1-menu .maestro-sidenav1-menu2-arrow { 
		float: right; 
		margin-top: 7px;
	}

/* push content on right */
	.maestro-sidenav-main { transition: margin-left .5s; }