/* Style the tab */
.maestro-tab {
	padding: 20px;
}

div.maestro-tab-1 {
	overflow: hidden;
	border-bottom: 5px solid #015291;
}

/* Style the buttons inside the tab */
div.maestro-tab-1 .maestro-tab1-tablinks {
	float: left;
	cursor: pointer;
	padding: 5px 16px;
	transition: 0.3s;
	padding-right: 15px;

	border-top-right-radius: 1.8em;
	border-top-left-radius: .3em;

	background-color: #fff;
	/*border: 1px solid #ccc;*/
	font-weight: 500;
	position: relative;
	box-shadow: 1px 5px 3px 3px #eee;
}

div.maestro-tab-1 .maestro-tab1-tablinks:not(:first-child) { margin-left: -0px; }

div.maestro-tab-1 .maestro-tab1-tablinks:after { 
	content:" ";
	position: absolute;
	top:0;
	width: 23px;
	height: 100%;
	background-color: inherit; 
	border-radius: 0 12px 0 0;
	transform: skew(34deg);
	right: -5px;
	z-index: -10;
	box-shadow: 2px 0px 5px -3px grey;
}

div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(1) { z-index: 1; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(2) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(3) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(4) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(5) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(6) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(7) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(8) { z-index: 2; }
div.maestro-tab-1 .maestro-tab1-tablinks:nth-last-child(9) { z-index: 2; }

/* Create an active/current tablink class */
div.maestro-tab-1 .maestro-tab1-tablinks.active {
	background-color: #015198;
	color: #fff;
	z-index: 10;
}

/* Style the tab content */
.maestro-tab1-tabcontent {
	display: none;
	padding: 20px;
	background-color: #fff;

	margin-top: 5px;
	box-shadow: 1px 1px 5px 1px #E1ECEF;
}

.maestro-tab1-tabcontent.active { display: block !important; }

.maestro-tab1-contentPanel {
	padding: 20px 15px 20px 15px;
	box-shadow: 1px 1px 5px 1px #E1ECEF;
}

.maestro-tab1-contentPanel-title { 
	font-size: 16px; 
	font-weight: bold;
	text-align: left;
	color: #015291;
}

.maestro-tab1-contentPanel-button {
	float: right;
	color: #fff;
	padding: 0px 15px 0px 15px;
	background-color: #015198; 
	height: 30px;
	line-height: 0;
}

.maestro-tab1-contentPanel > .divider { 
	box-shadow: 1px 1px 2px 1px #E1ECEF; 
	display: block;
	margin-top: 25px;
	margin-bottom: 50px;
}

.maestro-tab1-contentPanel .maestro-label-key {
	color: #015291;
	font-weight: bold;
}

.maestro-tab1-contentPanel .maestro-label-pair { margin-bottom: 10px; }