/* base */
.maestro-container {
	padding: 35px 5%;
	background-color: #EDF2F6;
}


/* panel 1 */
	.maestro-panel-1 {
		width: 100%;
		padding: 20px 6% 8px 6%;
		color: #072B57;
		border: 1px solid #C8D7E2;
		border-radius: 4px;
		margin-bottom: 16px;
		background-color: #fff;

		/* defaut value for non media-covered screens */
		text-align: center;
		display: block;
	}

	.maestro-panel-1 > .fa { display: none; }

	.maestro-panel-1 > .maestro-panel1-body { 
		display: block; 
		font-weight: 400;
	}

	.maestro-panel-1 > .maestro-panel1-body > h5 { 
		margin: 0px; 
		font-weight: 500;
	}

	.maestro-panel-1 > .maestro-panel1-button { margin-top: 10px; }

/* panel 2 */
	.maestro-panel-2 {
		width: 100%;
		padding: 15px;
		color: #EFEFF0;
		margin-bottom: 16px;
		border-radius: 4px;
		background-color: #002A5A;
	}

	.maestro-panel-2 > h5 {
		border-bottom: 1px solid #E0E0E0;
		padding-bottom: 15px;
		text-align: center;
		margin-bottom: 30px;
		font-size: 2.2rem;
		font-weight: 500;
	}

	.maestro-panel-2 > .maestro-panel2-button {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.maestro-panel-2 > .label-div-stock {
		margin-bottom: 10px;
		margin-top: 10px;
	}

/* smallest device */
@media (min-width: 300px) {}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
	/* panel 1 */
		.maestro-panel-1 { 
			text-align: left; 
			display: inline;
		}

		.maestro-panel-1 > .fa { 
			display: block; 
			font-size: 3.5rem;
			position: absolute;
			margin: 5px;
		}
		.maestro-panel-1 > .maestro-panel1-body { 
			margin-left: 70px;
			margin-bottom: 10px;
			display: inline-block; 
			position: relative;
			width: 40%;
		}
		.maestro-panel-1 > .maestro-panel1-body > h5 { 
			display: inline; 
			line-height: 0;
		}

		.maestro-panel-1 > .maestro-panel1-body > span { display: block; }
		.maestro-panel-1 > .maestro-panel1-button { 
			float: right; 
			margin-top: 0px;
		}

	/* panel 2 */
		.maestro-panel-2 { padding: 35px; }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}