/* base */
	.maestro-messages { padding: 20px; }

	.maestro-messages .maestro-messages-panel {
		padding: 10px;
		background-color: #fff;
		box-shadow: 1px 1px 5px 1px #E1ECEF;
	}

	.maestro-messages .maestro-messages-options {
		width: 100%;
		display: inline-block;
		padding: 10px 0px 10px 0px;
		background-color: #fff;
		cursor: pointer;
		color: #015198;
		margin-bottom: 5px;
	}

	.maestro-messages > .maestro-messages-panel > .maestro-messages-options:hover, .maestro-messages-options:focus, .maestro-messages-options.active { 
		background-color: #E6EFF6; 
		font-weight: bold;
	}

	.maestro-messages .maestro-messages-options > i.fa {
		font-size: 2rem;
		color: #015198;
		padding-left: 20px;
		padding-right: 10px;
	}

	.maestro-messages .maestro-messages-options > .optionCount-1, .optionCount-2 {
		float: right;
		padding: 2px 15px 2px 15px;
		border-radius: 4px;
		color: #fff;
		font-size: 1.2rem;
		margin-right: 10px;
	}

	.maestro-messages .maestro-messages-options > .optionCount-1 { background-color: #01B24D; }
	.maestro-messages .maestro-messages-options > .optionCount-2 { background-color: #015294; }

	.maestro-messages .button-primary {
		padding-left: 0px;
		padding-right: 0px;
	}

	.maestro-messages .maestro-messages-panel-top {
		padding: 10px;
		padding-bottom: 0px;
		border-bottom: 2px solid #E6F0F7;
	}

	.maestro-messages .maestro-messages-panel-top > .maestro-messages-options-right {
		display: inline-block;
		float: right;
	}

	.maestro-messages .maestro-messages-panel-top > .maestro-messages-options-left {
		display: inline-block;
		color: #015198;
	}

	.maestro-messages .maestro-messages-panel-top > .maestro-messages-options-right > button {
		padding: 0px 2px 0px 10px;
		/*line-height: 1;*/
	}

	.maestro-messages .maestro-messages-panel-middle { 
		padding-top: 10px; 
		display: block;
	}
	.maestro-messages .maestro-messages-panel-middle > .button-primary { padding: 0px 10px 0px 10px; }
	.maestro-messages .maestro-messages-panel-middle > .button-primary.right { float: right; }

	.maestro-messages .maestro-messages-panel-middle > .button-danger-outline { 
		border: 1px solid #E5152D; 
		color: #E5152D;
		padding: 0px 15px 0px 15px;
	}

	.maestro-messages .maestro-messages-panel-middle > .button-danger-outline > .fa { color: #E5152D; }

	.maestro-messages table .maestro-messages-subject { color: #015198; }
	.maestro-messages table .maestro-messages-subject > .fa { 
		color: #01B24D; 
		font-size: 1.8rem;
		/*font-weight: bold;*/
		float: right;
	}

	.maestro-messages table .fa-star { 
		color: #E2B712;
		padding-left: 10px; 
	}

	.maestro-messages table .fa-star-o { 
		color: black;
		padding-left: 10px; 
	}

	.maestro-messages table tbody tr:hover {
		border: 1px solid black;
	}

	.maestro-messages .maestro-messages-options-right.date { margin-top: 10px; }

	.maestro-messages-panel-middle > .pill { 
		padding: 5px;
		background-color: #015190;
		border-radius: 4px;
		font-size: 1.2rem;
		color: #fff;
	}

	.maestro-messages-panel-middle > .pill-label { 
		width: 50px;
		display: inline-block;
		text-align: right;
		margin: 2px 10px;
	}

	.maestro-messages-email-container > p {
		text-align: left;
		color: black;
	}

	.maestro-messages-email-container {
		padding: 20px;
		border: 2px solid #EFF4F8;
		border-radius: 4px;
		margin-top: 30px;
	}

	.maestro-messages-email-container > .attachment { 
		display: inline; 
		margin-right: 30px;
		cursor: pointer;
	}
	.maestro-messages-email-container > .attachment > .fa { 
		font-size: 3rem; 
		color: #015190;
		font-weight: 400;
	}

	.maestro-messages-email-container > .attachment > span {  color: #015190; }

	.messageFunction > .button-primary, .button-danger {
		line-height: 1;
		padding: 0px 10px 0px 10px;
		float: right;
		margin-left: 10px;
		height: 30px;
		margin-top: 15px;
	}

	.messageFunction > .button-danger {
		background: transparent;
		border-color: red;
		color: red;
	}

	.messageFunction > .button-danger > i { color: red; }

	.maestro-messages-subject i.fa-danger { color: red !important; }