
/* bases */
	.maestro-course-catalog { padding: 20px; }

	.maestro-course-catalog .maestro-course-catalog-panel {
		background-color: #015290;
		color: #fff;
		padding: 10px 30px 10px 30px;
	}

	.maestro-course-catalog .maestro-course-catalog-table-panel {
		padding: 10px;
		background-color: #fff;
		margin-top: 10px;
		box-shadow: 1px 1px 5px 1px #E1ECEF;
	}

	.maestro-course-catalog .maestro-course-catalog-button {
		float: right;
		line-height: 0;
		height: 35px;
		padding: 0px 15px 0px 15px;
	}

	.maestro-course-catalog .maestro-navbar-dropdown {
		border: 1px solid #E1ECEF;
		border-radius: 4px;
		float: right;
		margin-left: 10px;
	}

	.maestro-course-catalog .maestro-navbar-dropdown > span { 
		color: #015290; 
		font-weight: 600;
	}

	.maestro-course-catalog .maestro-course-catalog-table-proper { margin-top: 10px; }

	.maestro-course-catalog .maestro-course-catalog-table-proper > thead { background-color: #015190; }

	.maestro-course-catalog .maestro-course-catalog-table-proper > thead > tr > th {
		font-size: 1.2rem;
		color: #fff;
		padding: 10px 0px 10px 15px;
		margin: 0px;
		width: 25px;
		border-bottom: 3px solid #fff;
	}

	.maestro-course-catalog .maestro-course-catalog-table-proper > thead > tr > th:not(:last-child) {
		border-right: 2px solid #fff;
	}

	.maestro-course-catalog .maestro-course-catalog-table-proper > thead > tr > th.check > i {
		width: 100%;
		padding-left: 5px;
		padding-right: 3px;
		margin: 0px;
		color: #fff;
	}

	.maestro-course-catalog .maestro-course-catalog-table-proper > thead > tr > th > i { 
		float: right; 
		margin-top: 2px;
		color: #0BA54C;
	}

	.maestro-course-catalog .maestro-course-catalog-table-proper > tbody > tr > td { 
		padding: 6px 4px 3px 4px;
	}

	.maestro-course-catalog .maestro-course-catalog-show {
		color: #015190;
		font-weight: 600;
		float: left;
		display: inline-block;
		margin-left: 10px;
	}

	.maestro-course-catalog .maestro-course-catalog-pagination {
		color: #015190;
		font-weight: 600;
		float: right;
		display: inline-block;
		margin-right: 10px;
	}

	.maestro-course-catalog .maestro-course-catalog-pagination > i { 
		color: #015190;
		padding-top: 5px;
	}

	.maestro-course-catalog .maestro-course-catalog-pagination > .maestro-course-catalog-pagination-1 { color: #015190;	}
	.maestro-course-catalog .maestro-course-catalog-pagination > .maestro-course-catalog-pagination-2 { color: #0BA54C; }
	.maestro-course-catalog .maestro-course-catalog-pagination > .maestro-course-catalog-pagination-1, .maestro-course-catalog-pagination-2 { 
		margin-right: 10px;
		font-weight: 500;
	}

	.maestro-course-catalog .maestro-course-catalog-show > select {
		line-height: 1;
		height: 30px;
		padding: 0px 5px 0px 5px;
	}

	.maestro-course-catalog table .table-content-id {
		color: #015190;
		/*font-weight: bold;*/
		text-decoration: underline;
	}

	.maestro-course-catalog table .table-content-price {
		color: #0BA54C;
	}

	.maestro-course-catalog table .table-content-checkbox {
		margin-top: 15px;
		margin-left: 30%;
	}

	.maestro-course-catalog table tbody tr:nth-child(odd):not(:first-child) { background-color: #E6EFF6; }
	.maestro-course-catalog table tbody tr:nth-child(even):not(:first-child) { background-color: #F4F9FC; }
	.maestro-course-catalog table td { border-bottom: 3px solid #fff; }