/* base */
	/* input field*/
		.maestro-search-field { display: none; }
		.maestro-search-field > input[type="text"] { 
			border: none; 
			border-radius: 0px;
			background-color: transparent;
		}
		.maestro-search-field > input[type="text"]:focus { border-bottom: 1px solid #015198; }

	/* special icons */
		.maestro-navbar-icon1,
		.maestro-navbar-icon2 { display: inline; }
		.maestro-navbar-icon2 { margin-right: 20px; }

		.maestro-navbar-icon1 > i,
		.maestro-navbar-icon2 > i { 
			color: #fff; 
			background-color: #015198;
			padding: 10px;
			border-radius: 50%;
			font-size: 1.7rem;
			margin: 0px !important;
		}

		.maestro-navbar-icon1 > span {
			color: #fff; 
			background-color: #00AE50;
			padding: 3px;
			border-radius: 50%;
			border: 1px solid #fff;
			font-size: 1rem;

			position: relative;
			bottom: 20px;
			right: 17px;
		}

	/* dropdown menu */
		.maestro-navbar-dropdown-group1 {
			border: 1px solid #015291;
			border-radius: 4px;
			background-color: #015198;
			display: none;
			color: #fff;
		}

		.maestro-navbar-dropdown-group1 > .maestro-navbar-note, .maestro-navbar-dropdown {
			padding: 5px 10px 5px 10px !important;
			display: inline-block;
		}

		/* The container <div> - needed to position the maestro-navbar-dropdown content */
		.maestro-navbar-dropdown, .maestro-navbar-dropdown span i { 
			background-color: #fff; 
			color: black !important;
		}

		/* maestro-navbar-Dropdown Content (Hidden by Default) */
		.maestro-navbar-dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
		}

		/* Links inside the maestro-navbar-dropdown */
		.maestro-navbar-dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		/* Change color of maestro-navbar-dropdown links on hover */
		.maestro-navbar-dropdown-content a:hover {background-color: #f1f1f1}

		/* Show the maestro-navbar-dropdown menu (use JS to add this class to the .maestro-navbar-dropdown-content container when the user clicks on the maestro-navbar-dropdown button) */
		.show {display:block;}

	/* breadcrumb - 1 */
		.maestro-navbar-breadcrumb-1 {
			width: 100%;
			color: black;
			display: block;
			padding: 10px 20px 10px 20px;
			background-color: #F6F7FB;
			border-bottom: 1px solid #DDDEE2;
		}

		.maestro-navbar-breadcrumb-1 .maestro-navbar-breadcrumb1-link { 
			margin: 0 3px;
			font-weight: 500;
		}

		.maestro-navbar-breadcrumb-1 > 
		.maestro-navbar-breadcrumb1-left, .maestro-navbar-breadcrumb1-right { display: inline-block; }

		.maestro-navbar-breadcrumb-1 i { color: #015198 !important; }

	/* navbar - 1 */
		.maestro-navbar-1 { 
			background-color: #EFF4F8; 
			border-bottom: 1px solid #DDDEE2;
			box-shadow: -1px 1px 1px #fff;
		}

		.maestro-navbar-1 > .maestro-navbar-divider > i {
			color: #005292;
			font-size: 2.5rem;
			margin: 0 15px;
		}

		.maestro-navbar-1 > .maestro-navbar-divider {
			border-right: 1px solid #DADFE3;
			width: 50px;
			box-shadow: 5px 0px 4px -4px #fff;
			height: 100%;
			padding: 20px 0px 20px 0px;
			display: inline-block;
		}

		.maestro-navbar-1 > .maestro-navbar-search { 
			display: inline;
			margin-left: 20px;
		}

		.maestro-navbar-1 > .maestro-navbar-right {
			float: right;
			display: inline;
			padding-top: 18px;
		}

		.maestro-navbar-1 .maestro-navbar-dropdown-group1 { margin-right: 20px; }

	/* banner */
		.maestro-navbar-banner { 
			padding: 10px 20px 10px 20px; 
			background-color: #fff;
		}

		.maestro-navbar-banner > h5 { 
			line-height: .8; 
			margin: 0px;
			color: #015198;
		}

/* smallest device */
@media (min-width: 300px) {}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	/* search field */
		.maestro-search-field { 
			display: inline-block;
			position: relative; 
			padding: 0; 
			margin: 0;
		}

		.maestro-search-field > input { 
			color: black; 
			margin-left: 35px;
		}

		.maestro-search-field > i {
			position: absolute; 
			bottom: 23px;
			left: 10px;
			color: #015198;
			font-size: 22px;
			font-weight: 100;
		}

	/* breadcrumb - 1 */
		.maestro-navbar-breadcrumb-1 > .maestro-navbar-breadcrumb1-right { float: right; }
}

/* Larger than desktop */
@media (min-width: 1000px) {
	/* dropdown menu */
		.maestro-navbar-dropdown-group1 { display: inline-block; }

		.maestro-navbar-1 > .maestro-navbar-divider { 
			padding: 20px; 
			width: 80px;
		}

		.maestro-navbar-1 > .maestro-navbar-divider > i { margin: 0 30px; }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}