/* base */

/* header 1 */
	.maestro-header-1 {
		padding: 35px 5% 15px 5%;
	}

	.maestro-header1-text {
		font-weight: bold;
		font-size: 1.3rem;

		/* default for all non media-covered screen */
		text-align: center;
	}

	.maestro-header1-logo {
		display: block;
		margin-bottom: 15px;

		/* default for all non media-covered screen */
		margin-left: auto;
		margin-right: auto;
	}

/* footer 1 & 2 */
	.maestro-footer-1, .maestro-footer-2 {
		padding: 10px 5%;
		background-color: #002A5A;
		color: #fff;

		/* default for all non media-covered screen */
		text-align: center;
	}

	.maestro-footer1-text, .maestro-footer2-text { font-size: 1.3rem; }
	.maestro-footer1-icons { font-size: 2rem; }

	/* default for all non media-covered screen */
	.maestro-footer1-text, 
	.maestro-footer2-text, 
	.maestro-footer1-icons { float: none; }


/* smallest device */
@media (min-width: 300px) {}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	/* header 1 */
		.maestro-header1-logo {
			margin-left: 0px;
		}

		.maestro-header1-text {
			text-align: right;
		}

	/* footer 1 */
		.maestro-footer1-text { 
			float: left;
			padding-top: 5px;
		}
		.maestro-footer1-icons { float: right; }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}