

/* normalize css - casts reset and normalizarion to all html elements */
/* skeleton css - sets the grid system and css to form elements, fonts and other minor assets */

/* General Colors */
	/* deep-primary: 002A5A*/
	/* primary: 00529F */
	/* success: 00B147 */
	/* danger: E5152D */
	/* warn: E4B80C */
	/* background: EDF2F6 */

/* registration-footer */
	.maestro-footer {
		padding: 10px 70px 15px 70px;
		background-color: #002A5A;
		color: #fff;
	}

	.maestro-footer-note {
		padding-top: 3px;
	}

	.maestro-footer-icons {
		font-size: 20px;
		text-align: right;
	}

/* registration-header */
	.maestro-header {
		padding: 5% 70px 25px 70px;
	}

	.maestro-header-logo {
		/*height: 300px !important;*/
	}

	.maestro-header-note {
		font-weight: bold !important;
		font-size: 14px;
		float: right;
		padding-top: 10px;
	}

/* registration-body */
	.maestro-body {
		background-color: #EDF2F6;
		padding: 50px 70px 40px 70px;
		color: #fff;
	}

	.maestro-panel-deepprimary {
		border: 1px;
		border-radius: 4px;
		background-color: #002A5A;
		padding: 40px;
	}

	.maestro-panel-default {
		border: 1px solid #C8D7E2;
		border-radius: 4px;
		background-color: #fff;
		padding: 8px;
		margin-bottom: 16px;
	}

	.maestro-body-panel-header {
		font-size: 20px;
		font-weight: 100 !important;
	}

	.maestro-divider {
		border-bottom: 1px solid #fff;
		/*width: 95%;*/
		margin: 15px auto;
		margin-bottom: 30px;
	}

	.maestro-input-form {
		margin-top: 5px;
	}

	.maestro-input-form > label {
		font-weight: 100;
	}

	.maestro-input-field {
		position: relative; 
		padding: 0; 
		margin: 0;
	}

	.maestro-input-field > input {
		width: 100% !important;
		color: black;
		padding-left: 40px;
	}

	.maestro-input-field > i {
		position: absolute; 
		bottom: 23px;
		left: 10px;
		color: #002A5A;
		font-size: 22px;
		font-weight: 100;
	}

	input[type="checkbox"] {
		transform: scale(1.2);
		margin-top: 8px;
	}

	.maestro-btn-success {
		background-color: #00B147;
		color: #fff;
		border: none;
		margin-top: 10px;
	}

	.maestro-btn-success > i {
		/*font-weight: 100;*/
		margin-left: 7px;
	}

	.maestro-btn-success:hover {
		color: #fff;
	}

	.maestro-panel-iconIden {
		font-size: 35px;
		color: #002A5A;
	}

	.maestro-panel-notes{
		color: #002A5A;
	}

	.maestro-panel-notes > h5 {
		display: inline;
		font-weight: 400;
	}

	.btn-panel-def {
		width: 80%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.maestro-temp {
		margin-left: 8%;
	}


	@media screen and (max-width: 750px) {
		.maestro-body {
			background-color: #EDF2F6;
			padding: 10px;
			color: #fff;
		}

		.maestro-temp {
			margin-left: 0px;
			margin-top: 20px;
		}

		.maestro-panel-notes {
			text-align: center;
		}

		.maestro-header-note {
			text-align: center;
		}

		.maestro-header-logo {
			display: block;
			margin-left: auto;
			margin-right: auto
		}
	}