
/* normalize css - casts reset and normalizarion to all html elements */
/* skeleton css - sets the grid system and css to form elements, fonts and other minor assets */

/* General Colors */
	/* deep-primary: 002A5A*/
	/* primary: 00529F */
	/* success: 00B147 */
	/* danger: E5152D */
	/* warn: E4B80C */
	/* background: EDF2F6 */

/* header */
	.maestro-registration-header {
		padding: 20px 50px 10px 50px;
	}

	.maestro-registration-right {
		text-align: right;
		font-size: 13px;
		font-weight: bold;
		padding-top: 5px;
	}

/* body */
	.maestro-registration-body {
		background-color: #EDF2F6;
		padding: 20px 20px 100px 20px;
	}

	/* banner */
		.maestro-registration-banner {
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: #002A5A;
			border: 4px;
			border-radius: 5px;
		}

		.stepwizard-step p,
		.stepwizard-step-active p { 
			margin-top: 20px; 
			font-size: 12px;
		}

		.stepwizard-row { display: table-row; }

		.stepwizard {
			display: table;
			width: 100%;
			position: relative;
			padding-top: 30px;
		}

		.stepwizard-step:not(:last-child):after,
		.stepwizard-step-active:not(:last-child):after {
			top: 11px;
			bottom: 0;
			position: absolute;
			content: "";
			width: 100%;
			height: 0px;
			/*background-color: #ccc;*/
			z-order: 0;
			z-index: -1;
			border-bottom: 3px dotted #ccc;
		}

		.stepwizard-step,
		.stepwizard-step-active {
			display: table-cell;
			text-align: center;
			position: relative;
			z-index: 1;
			color: #fff;
			width: 11.11%;
		}

		@media screen and (max-width: 750px) {
			.stepwizard-step {
				display: none;
			}

			.stepwizard-step-active:not(:last-child):after {
				display: none;
			}

			.stepwizard-step-active p { 
				display: inline;
				font-size: 20px;
				margin-left: 10px;
			}

			.maestro-registration-banner {
				min-height: 100px;
			}

			.maestro-registration-right {
				text-align: center;
			}

			.maestro-registration-body {
				background-color: transparent;
				padding: 10px;
			}

			.maestro-registration-panel {
				padding: 20px 13px 10px 13px !important;
				margin-top: 10px;
			}

			.label-body {
				font-size: 13px !important;
			}

			.maestro-header-logo {
				display: block;
				margin-left: auto;
				margin-right: auto
			}

			.container {
				padding: 0px;
			}

			.heading-right {
				color: #00B147;
				text-align: left !important;
				font-size: 13px !important;
			}
		}

		.btn-circle {
			padding: 14px 19px 14px 19px;
			line-height: 1.428571429;
			font-weight: bold;
			border-radius: 25px;
			background-color: #015294;
			text-decoration: none;
			color: #fff
		}

		.stepwizard-step-active > a { 
			background-color: #fff; 
			color: #015294;
		}

	
	/* notice */
		.maestro-registration-notice {
			padding: 10px;
			background-color: #fff;
			border-left: 10px solid;
			border-color: #00B147;
			margin-top: 10px;
			margin-bottom: 10px;
			color: #00B147;
		}

		.notice-icon {
			font-size: 40px;
			padding-top: 2px;
			/*float: right;*/
		}

		.notice-text {
			font-size: 14px;
		}


	/* registration-panel */
	.maestro-registration-panel {
		border: 5px solid #E7EEF0;
		border-radius: 3px;
		padding: 35px;
		background-color: #fff;
	}

	.heading-left {
		color: #002A5A;
		text-align: left;
		margin-bottom: 10px;
	}

	.heading-right {
		color: #00B147;
		text-align: right;
		margin-bottom: 10px;
	}

	.reg-divider {
		border-bottom: 2px solid #E7EEF0;
	}

	.radiobutton-label {
		margin-left: 20px;
	}

	.required-icon {
		color: #00B147;
		font-size: 30px;
		padding: 0px;
		margin: 0px;
	}

	label {
		color: #002A5A;
		/*font-weight: 500;*/
	}

	input[type="radio"],
	input[type="checkbox"] {
		transform: scale(1.2);
	}

	/* buttons */
		.maestro-registration-buttons {
			margin-top: 20px;
		}

		.maestro-move-left { float: left; }

		.maestro-move-left > i { margin-right: 10px; }

		.maestro-move-right { float: right; }

		.maestro-move-right > i { margin-left: 10px; }

		.maestro-btn-primary, 
		.maestro-btn-primary:hover, 
		.maestro-btn-primary:active,
		.maestro-btn-primary:focus {
			background-color: #002A5A;
			color: #fff;
			text-transform: capitalize;
			border: none;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 2px;
		}

		button > i {
			font-size: 15px !important;
		}

/* footer */
	.maestro-registration-footer {
		padding: 10px 50px 10px 50px;
		background-color: #002A5A;
		color: #fff;
		text-align: center;
	}